In [9]:
!pip install ucimlrepo
!pip install scipy

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: ucimlrepo in c:\users\максим\appdata\roaming\python\python39\site-packages (0.0.3)

WARNING: You are using pip version 20.2.3; however, version 23.3.2 is available.
You should consider upgrading via the 'c:\program files\python39\python.exe -m pip install --upgrade pip' command.

Defaulting to user installation because normal site-packages is not writeable
Collecting scipy
  Downloading scipy-1.11.4-cp39-cp39-win_amd64.whl (44.3 MB)
Requirement already satisfied: numpy<1.28.0,>=1.21.6 in c:\users\максим\appdata\roaming\python\python39\site-packages (from scipy) (1.23.3)
Installing collected packages: scipy
Successfully installed scipy-1.11.4

WARNING: You are using pip version 20.2.3; however, version 23.3.2 is available.
You should consider upgrading via the 'c:\program files\python39\python.exe -m pip install --upgrade pip' command.

In [4]:
from ucimlrepo import fetch_ucirepo
heart_disease = fetch_ucirepo(id=45)

In [7]:
X = heart_disease.data.features
y = heart_disease.data.targets

print(heart_disease.variables)

        name     role         type demographic  \
0        age  Feature      Integer         Age
1        sex  Feature  Categorical         Sex
2         cp  Feature  Categorical        None
3   trestbps  Feature      Integer        None
4       chol  Feature      Integer        None
5        fbs  Feature  Categorical        None
6    restecg  Feature  Categorical        None
7    thalach  Feature      Integer        None
8      exang  Feature  Categorical        None
9    oldpeak  Feature      Integer        None
10     slope  Feature  Categorical        None
11        ca  Feature      Integer        None
12      thal  Feature  Categorical        None
13       num   Target      Integer        None

                                          description  units missing_values
0                                                None  years             no
1                                                None   None             no
2                                                None   None             no
3   resting blood pressure (on admission to the ho...  mm Hg             no
4                                   serum cholestoral  mg/dl             no
5                     fasting blood sugar > 120 mg/dl   None             no
6                                                None   None             no
7                         maximum heart rate achieved   None             no
8                             exercise induced angina   None             no
9   ST depression induced by exercise relative to ...   None             no
10                                               None   None             no
11  number of major vessels (0-3) colored by flour...   None            yes
12                                               None   None            yes
13                         diagnosis of heart disease   None             no

In [10]:
import pandas as pd
import numpy as np
import scipy.stats as st

In [11]:
X.shape

(303, 13)

In [12]:
pd.crosstab(X.sex, X.cp)

cp    1   2   3    4
sex
0     4  18  35   40
1    19  32  51  104

In [13]:
st.chi2_contingency(pd.crosstab(X.sex, X.cp))

Chi2ContingencyResult(statistic=6.79145867175301, pvalue=0.07885024424877551, dof=3, expected_freq=array([[ 7.3630363 , 16.00660066, 27.53135314, 46.0990099 ],
       [15.6369637 , 33.99339934, 58.46864686, 97.9009901 ]]))

In [17]:
fact_frequency = pd.crosstab(X.sex, X.cp).values

In [54]:
expected_freqency = (fact_frequency.sum(axis = 0).reshape(-1,1).\
dot(fact_frequency.sum(axis = 1).reshape(1,-1))/fact_frequency.sum()).T

In [55]:
expected_freqency

array([[ 7.3630363 , 16.00660066, 27.53135314, 46.0990099 ],
       [15.6369637 , 33.99339934, 58.46864686, 97.9009901 ]])

In [22]:
pd.crosstab(pd.cut(X.age, bins = [0,20,35,50,68,100],
       labels=['<=20','20-35', '35-50', ' 50-68', '>68']), X.cp)

cp       1   2   3    4
age
20-35    1   3   0    3
35-50    4  20  31   32
 50-68  16  24  51  105
>68      2   3   4    4

In [23]:
st.chi2_contingency(pd.crosstab(X.age, X.cp))

Chi2ContingencyResult(statistic=158.37773788889103, pvalue=0.01084871010565685, dof=120, expected_freq=array([[0.07590759, 0.1650165 , 0.28382838, 0.47524752],
       [0.15181518, 0.330033  , 0.56765677, 0.95049505],
       [0.30363036, 0.66006601, 1.13531353, 1.9009901 ],
       [0.15181518, 0.330033  , 0.56765677, 0.95049505],
       [0.15181518, 0.330033  , 0.56765677, 0.95049505],
       [0.30363036, 0.66006601, 1.13531353, 1.9009901 ],
       [0.22772277, 0.4950495 , 0.85148515, 1.42574257],
       [0.75907591, 1.65016502, 2.83828383, 4.75247525],
       [0.60726073, 1.32013201, 2.27062706, 3.8019802 ],
       [0.60726073, 1.32013201, 2.27062706, 3.8019802 ],
       [0.8349835 , 1.81518152, 3.12211221, 5.22772277],
       [0.60726073, 1.32013201, 2.27062706, 3.8019802 ],
       [0.53135314, 1.15511551, 1.98679868, 3.32673267],
       [0.37953795, 0.82508251, 1.41914191, 2.37623762],
       [0.53135314, 1.15511551, 1.98679868, 3.32673267],
       [0.37953795, 0.82508251, 1.41914191, 2.37623762],
       [0.53135314, 1.15511551, 1.98679868, 3.32673267],
       [0.91089109, 1.98019802, 3.40594059, 5.7029703 ],
       [0.98679868, 2.14521452, 3.68976898, 6.17821782],
       [0.60726073, 1.32013201, 2.27062706, 3.8019802 ],
       [1.21452145, 2.64026403, 4.54125413, 7.6039604 ],
       [0.60726073, 1.32013201, 2.27062706, 3.8019802 ],
       [0.8349835 , 1.81518152, 3.12211221, 5.22772277],
       [1.29042904, 2.80528053, 4.82508251, 8.07920792],
       [1.44224422, 3.13531353, 5.39273927, 9.02970297],
       [1.06270627, 2.31023102, 3.97359736, 6.65346535],
       [0.91089109, 1.98019802, 3.40594059, 5.7029703 ],
       [0.60726073, 1.32013201, 2.27062706, 3.8019802 ],
       [0.8349835 , 1.81518152, 3.12211221, 5.22772277],
       [0.68316832, 1.48514851, 2.55445545, 4.27722772],
       [0.75907591, 1.65016502, 2.83828383, 4.75247525],
       [0.60726073, 1.32013201, 2.27062706, 3.8019802 ],
       [0.53135314, 1.15511551, 1.98679868, 3.32673267],
       [0.68316832, 1.48514851, 2.55445545, 4.27722772],
       [0.30363036, 0.66006601, 1.13531353, 1.9009901 ],
       [0.22772277, 0.4950495 , 0.85148515, 1.42574257],
       [0.30363036, 0.66006601, 1.13531353, 1.9009901 ],
       [0.22772277, 0.4950495 , 0.85148515, 1.42574257],
       [0.07590759, 0.1650165 , 0.28382838, 0.47524752],
       [0.07590759, 0.1650165 , 0.28382838, 0.47524752],
       [0.07590759, 0.1650165 , 0.28382838, 0.47524752]]))

In [37]:
fact_freqency_age = pd.crosstab(X.age, X.cp).values
print(fact_freqency_age)

[[ 0  1  0  0]
 [ 1  1  0  0]
 [ 0  1  0  3]
 [ 0  0  2  0]
 [ 1  0  1  0]
 [ 0  0  3  1]
 [ 1  0  0  2]
 [ 0  6  3  1]
 [ 1  1  3  3]
 [ 0  0  2  6]
 [ 0  3  5  3]
 [ 1  3  0  4]
 [ 0  2  2  3]
 [ 0  0  3  2]
 [ 0  2  2  3]
 [ 0  2  2  1]
 [ 0  1  3  3]
 [ 1  0  7  4]
 [ 2  3  3  5]
 [ 0  0  3  5]
 [ 0  3  7  6]
 [ 0  3  0  5]
 [ 1  4  1  5]
 [ 0  3  3 11]
 [ 1  3  5 10]
 [ 4  1  2  7]
 [ 1  0  3  8]
 [ 1  0  1  6]
 [ 0  2  2  7]
 [ 1  1  1  6]
 [ 2  0  3  5]
 [ 1  0  3  4]
 [ 1  1  1  4]
 [ 0  0  3  6]
 [ 0  0  3  1]
 [ 2  0  1  0]
 [ 0  1  1  2]
 [ 0  1  1  1]
 [ 0  1  0  0]
 [ 0  0  1  0]
 [ 0  0  0  1]]

In [41]:
expected_freqency_1 = (fact_freqency_age.sum(axis = 0).reshape(-1,1).\
dot(fact_freqency_age.sum(axis = 1).reshape(1,-1))/fact_freqency_age.sum()).T

In [42]:
expected_freqency_1

array([[0.07590759, 0.1650165 , 0.28382838, 0.47524752],
       [0.15181518, 0.330033  , 0.56765677, 0.95049505],
       [0.30363036, 0.66006601, 1.13531353, 1.9009901 ],
       [0.15181518, 0.330033  , 0.56765677, 0.95049505],
       [0.15181518, 0.330033  , 0.56765677, 0.95049505],
       [0.30363036, 0.66006601, 1.13531353, 1.9009901 ],
       [0.22772277, 0.4950495 , 0.85148515, 1.42574257],
       [0.75907591, 1.65016502, 2.83828383, 4.75247525],
       [0.60726073, 1.32013201, 2.27062706, 3.8019802 ],
       [0.60726073, 1.32013201, 2.27062706, 3.8019802 ],
       [0.8349835 , 1.81518152, 3.12211221, 5.22772277],
       [0.60726073, 1.32013201, 2.27062706, 3.8019802 ],
       [0.53135314, 1.15511551, 1.98679868, 3.32673267],
       [0.37953795, 0.82508251, 1.41914191, 2.37623762],
       [0.53135314, 1.15511551, 1.98679868, 3.32673267],
       [0.37953795, 0.82508251, 1.41914191, 2.37623762],
       [0.53135314, 1.15511551, 1.98679868, 3.32673267],
       [0.91089109, 1.98019802, 3.40594059, 5.7029703 ],
       [0.98679868, 2.14521452, 3.68976898, 6.17821782],
       [0.60726073, 1.32013201, 2.27062706, 3.8019802 ],
       [1.21452145, 2.64026403, 4.54125413, 7.6039604 ],
       [0.60726073, 1.32013201, 2.27062706, 3.8019802 ],
       [0.8349835 , 1.81518152, 3.12211221, 5.22772277],
       [1.29042904, 2.80528053, 4.82508251, 8.07920792],
       [1.44224422, 3.13531353, 5.39273927, 9.02970297],
       [1.06270627, 2.31023102, 3.97359736, 6.65346535],
       [0.91089109, 1.98019802, 3.40594059, 5.7029703 ],
       [0.60726073, 1.32013201, 2.27062706, 3.8019802 ],
       [0.8349835 , 1.81518152, 3.12211221, 5.22772277],
       [0.68316832, 1.48514851, 2.55445545, 4.27722772],
       [0.75907591, 1.65016502, 2.83828383, 4.75247525],
       [0.60726073, 1.32013201, 2.27062706, 3.8019802 ],
       [0.53135314, 1.15511551, 1.98679868, 3.32673267],
       [0.68316832, 1.48514851, 2.55445545, 4.27722772],
       [0.30363036, 0.66006601, 1.13531353, 1.9009901 ],
       [0.22772277, 0.4950495 , 0.85148515, 1.42574257],
       [0.30363036, 0.66006601, 1.13531353, 1.9009901 ],
       [0.22772277, 0.4950495 , 0.85148515, 1.42574257],
       [0.07590759, 0.1650165 , 0.28382838, 0.47524752],
       [0.07590759, 0.1650165 , 0.28382838, 0.47524752],
       [0.07590759, 0.1650165 , 0.28382838, 0.47524752]])

In [43]:
fact_freqency_rest = pd.crosstab(X.restecg, X.cp).values

In [44]:
expected_freqency_2 = (fact_freqency_rest.sum(axis = 0).reshape(-1,1).\
dot(fact_freqency_rest.sum(axis = 1).reshape(1,-1))/fact_freqency_rest.sum()).T

In [46]:
expected_freqency_2

array([[11.4620462 , 24.91749175, 42.85808581, 71.76237624],
       [ 0.30363036,  0.66006601,  1.13531353,  1.9009901 ],
       [11.23432343, 24.42244224, 42.00660066, 70.33663366]])

In [47]:
st.chi2_contingency(pd.crosstab(X.restecg, X.cp))

Chi2ContingencyResult(statistic=9.647796460984317, pvalue=0.140289244934876, dof=6, expected_freq=array([[11.4620462 , 24.91749175, 42.85808581, 71.76237624],
       [ 0.30363036,  0.66006601,  1.13531353,  1.9009901 ],
       [11.23432343, 24.42244224, 42.00660066, 70.33663366]]))

In [48]:
pd.cut(X.restecg, bins= [0,0.5,2.5],right=False, labels=[0,1])

0      1
1      1
2      1
3      0
4      1
      ..
298    0
299    0
300    0
301    1
302    0
Name: restecg, Length: 303, dtype: category
Categories (2, int64): [0 < 1]

In [49]:
pd.crosstab(X.restecg.replace({2:1}), X.fbs)

fbs        0   1
restecg
0        132  19
1        126  26

In [50]:
expected_freqency_3 = pd.crosstab(X.restecg.replace({2:1}), X.fbs).values

In [51]:
expected_freqency_3

array([[132,  19],
       [126,  26]], dtype=int64)

In [53]:
st.chi2_contingency(expected_freqency_3, correction = False)

Chi2ContingencyResult(statistic=1.2251367869851737, pvalue=0.2683549061852335, dof=1, expected_freq=array([[128.57425743,  22.42574257],
       [129.42574257,  22.57425743]]))